/* *{
    margin: 0px;
    padding: 0px;
} */
.heading-1{
    text-decoration: underline;
    text-align: center;
    background-image: linear-gradient(to right, red, green,yellow);
    font-size: 1.2rem;
}
.nav-bar{
    border: 2px solid red;
    width: 60vw;
   display: flex;
   justify-content: center;
   margin: auto;
   border-radius: 30px;
   margin-top: 10px;
   background-color: gray;
}
.offering{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2vw;
    padding: 0px 2vw;
    background-color: skyblue;
    border-radius: 10px;
    margin-top: 10px;
}
.box{
    border: 2px solid green;
    border-radius: 10px;
    
}
.last-box{
    grid-column-start:2;
    grid-column-end: 3;
}
.heading-2{
    text-decoration: underline;
    text-align: center;
    background-image: linear-gradient(to right, red,yellow,red);
    font-size: 1.2rem;
    margin:20px 0px;
    padding-bottom: 5px;
}
.advance{
    border: 2px solid black;
    display: flex;
    background-image: radial-gradient(blue 0% 60%, green 95% 100%);
    justify-content: space-around;
    padding: 100px 0px;
}
.advance-item{
    border: 2px solid red;
    background-color: yellow;
    text-align: center;
    text-decoration: underline;
    line-height: 4vh;
    height: 15vh;
    width: 13vw;
    color: red;
    font-weight: bold;
    border-radius: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 6fr 6fr 6fr 1fr;
    gap: 10px;
    margin-top: 20px;
}
.grid-item{
    background-color: yellowgreen;
    border: 2px solid black;
    color: white;
}
.b1{
    grid-column: 1/5;
    text-align: center;
    background-color: red;
}
.b2{
    text-align: center;
    background-color: green;
}
.b3{
    background-color: blue;
}
.b4{
    background-color: darkblue;
}
.b5{
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: black;
    text-decoration: underline;
}
.b6{
    grid-column: 1/4;
    padding-bottom: 5vh;
    background-color: orangered;
}
.b7{
    grid-column: 1/5;
    background-color: lightblue;
    text-align: center;
    color: black;
}